.containerPassword {
  width: 100vw;
  height: 100vh;
  background: #e4e4e4;
  justify-content: center;
  align-items: center;
}
.passwordScreen {
  width: 700px;
  height: 350px;
  border: 1px solid black;
  box-shadow: 5px 5px rgb(185, 185, 185);
  padding: 50px;
}
.page-header-password {
  padding: 25px;
  text-align: center;
}
