


.button-create{
    width: auto;
    float: right;
    background: rgb(0, 21, 42);
    border-color: rgb(0, 21, 42);

}
.button-create:defined{
  background: rgb(0, 21, 42);
}

.button-create:hover{
  background: rgb(50, 67, 83);
  border-color:  rgb(50, 67, 83);
}




.ant-modal-header{  
  background: rgb(0, 21, 42);
}

.ant-modal-title{
  color: aliceblue;
}

.ant-modal-close{
  color: aliceblue;
}



.button-save-create{
  background: rgb(0, 21, 42);
  border-color: rgb(0, 21, 42);

}
.button-save-create:defined{
  background: rgb(0, 21, 42);
  border-color: rgb(0, 21, 42);


}
.button-save-create:hover{
  background: rgb(50, 67, 83);
  border-color: rgb(50, 67, 83);


}


.button-delete-create{
  background:rgb(0, 21, 42);
  border-color: rgb(0, 21, 42);
  }

.button-delete-create:defined{
  background: rgb(0, 21, 42);
  border-color: rgb(0, 21, 42);
}

.button-delete-create:hover{
    background: rgb(50, 67, 83);
    border-color: rgb(50, 67, 83);
}




