.button-create{
    width: auto;
    float: right;
   

}



/* /* .button-create:hover{
  background: rgb(50, 67, 83);
  border-color:  rgb(50, 67, 83);
}




.ant-modal-header{  
  background: rgb(0, 21, 42);
}
 */



