.containerLogin {
    width: 100vw;
    height: 100vh;
    background: #e4e4e4;
    justify-content: center;
    align-items: center;
    }
.loginScreen {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    box-shadow: 5px 5px rgb(185, 185, 185);
    padding: 50px;
}
.page-header-login {
    padding: 25px;
    text-align: center;
}
